<html>
<head>
    <title>Day schedule: {{ day|date:"l, d.m.Y" }}</title>
    <link href="/site_media/styles/base.css" media="screen" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="calendar"></div>

<div id="content-main">
    <h2>Tagesansicht</h2>
    <h1 id="date">{{ day|date:"l, d.m.Y" }}</h1>

    <div id="timeslots">
    {% for timeslot in timeslots %}
    <div class="timeslot bcformat-{{ timeslot.show.broadcastformat.slug }}">
        <div class="start">{{ timeslot.start|date:"H:i" }}</div>
        <div class="show-abbrevs">
        {% for showinformation in timeslot.show.showinformation.all %}
            <span class="si-{{ showinformation.abbrev }}">{{ showinformation.abbrev }}</span>
        {% endfor %}
        {% for showtopic in timeslot.show.showtopic.all %}
            <span class="st-{{ showtopic.abbrev }}">{{ showtopic.abbrev }}</span>
        {% endfor %}
        {% for musicfocus in timeslot.show.musicfocus.all %}
            <span class="{{ musicfocus.abbrev }}">{{ musicfocus.abbrev }}</span>
        {% endfor %}
        </div>
        <div class="show">
            <h3 class="name"><a href="{% url timeslot-detail timeslot.id %}">{{ timeslot.show.name }}</a></h3>
            {% if timeslot.note %}
            <p class="note-title"><strong>Heute:</strong> {{ timeslot.note.title }}</p>
            {% else %}
                {% if timeslot.show.short_description != 'FIXME' %}
            <p class="short-description">{{ timeslot.show.short_description }}</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% endfor %}
    </div>
</div>


</body>
</html>
