<html>
<head>
    <title>Show detail: {{ show.name }}</title>
</head>
<body>

<div id="calendar"></div>

<div id="show-detail">
    <div id="name">{{ show.name }}</div>

    <div id="abbrevs">
    {% for topic in show.showtopic.all %}
        <span class="topic-abbrev">{{ topic.abbrev }}</span>
    {% endfor %}

    {% for information in show.showinformation.all %}
        <span class="information-abbrev">{{ information.abbrev }}</span>
    {% endfor %}

    {% for focus in show.musicfocus.all %}
        <span class="focus-abbrev">{{ focus.abbrev }}</span>
    {% endfor %}

        <span class="broadcastformat-abbrev">{{ show.broadcastformat.abbrev }}</span>
    </div>

    <div id="programslots">
    {% for slot in show.programslots.all %}
        <div class="programslot">{{ slot }}</div>
    {% endfor %}
    </div>

    <div id="broadcastformat">{{ show.broadcastformat.format }}</div>

    <div id="hosts">
    {% for host in show.hosts.all %}
        <div class="host">{{ host }}</div>
    {% endfor %}
    </div>

    {% if show.short_description != 'FIXME' %}
    <div id="short-description">{{ show.short_description }}</div>
    {% endif %}

    <div id="description">{{ show.description|safe }}</div>

    {% if show.email %}
    <div id="email"><a href="mailto:{{ show.email }}">{{ show.email }}</a></div>
    {% endif %}

    {% if show.website %}
    <div id="website"><a href="{{ show.website }}">{{ show.website }}</a></div>
    {% endif %}

    {% if show.cba_series_id %}
    <div id="cba-series-id"><a href="http://cba.fro.at/series/{{ show.cba_series_id }}">CBA</a></div>
    {% endif %}
</div>

</body>
</html>