<html>
<head>
    <title>Week schedule</title>
    <link href="/site_media/styles/base.css" media="screen" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="week-schedule">
    <div id="monday">
        <div class="weekday">{{ monday|date:"l d.m.Y" }}</div>
        {% for timeslot in monday_timeslots %}
            <div class="timeslot {{ timeslot.show.broadcastformat.slug }}"><a href="{% url timeslot-detail timeslot.id %}">{{ timeslot.show.name }}</a></div>
        {% endfor %}
    </div>

    <div id="tuesday">
        <div class="weekday">{{ tuesday|date:"l d.m.Y" }}</div>
        {% for timeslot in tuesday_timeslots %}
            <div class="timeslot {{ timeslot.show.broadcastformat.slug }}"><a href="{% url timeslot-detail timeslot.id %}">{{ timeslot.show.name }}</a></div>
        {% endfor %}
    </div>

    <div id="wednesday">
        <div class="weekday">{{ wednesday|date:"l d.m.Y" }}</div>
        {% for timeslot in wednesday_timeslots %}
            <div class="timeslot {{ timeslot.show.broadcastformat.slug }}"><a href="{% url timeslot-detail timeslot.id %}">{{ timeslot.show.name }}</a></div>
        {% endfor %}
    </div>

    <div id="thursday">
        <div class="weekday">{{ thursday|date:"l d.m.Y" }}</div>
        {% for timeslot in thursday_timeslots %}
            <div class="timeslot {{ timeslot.show.broadcastformat.slug }}"><a href="{% url timeslot-detail timeslot.id %}">{{ timeslot.show.name }}</a></div>
        {% endfor %}
    </div>

    <div id="friday">
        <div class="weekday">{{ friday|date:"l d.m.Y" }}</div>
        {% for timeslot in friday_timeslots %}
            <div class="timeslot {{ timeslot.show.broadcastformat.slug }}"><a href="{% url timeslot-detail timeslot.id %}">{{ timeslot.show.name }}</a></div>
        {% endfor %}
    </div>

    <div id="saturday">
        <div class="weekday">{{ saturday|date:"l d.m.Y" }}</div>
        {% for timeslot in saturday_timeslots %}
            <div class="timeslot {{ timeslot.show.broadcastformat.slug }}"><a href="{% url timeslot-detail timeslot.id %}">{{ timeslot.show.name }}</a></div>
        {% endfor %}
    </div>

    <div id="sunday">
        <div class="weekday">{{ sunday|date:"l d.m.Y" }}</div>
        {% for timeslot in sunday_timeslots %}
            <div class="timeslot {{ timeslot.show.broadcastformat.slug }}"><a href="{% url timeslot-detail timeslot.id %}">{{ timeslot.show.name }}</a></div>
        {% endfor %}
    </div>
</div>

</body>
</html>
