<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Current program box</title>
</head>
<body>
{% if previous_timeslot or current_timeslot or next_timeslot or after_next_timeslot %}
    <dl id="program-current-box" class="portlet program-box">
        <dt class="portletHeader">Programm derzeit</dt>
        <dd class="portletItem">
            <table>
                <tr class="previous">
                    <td class="start">{{ previous_timeslot.start|date:"H:i" }}</td>
                    <td class="format bf-{{ previous_timeslot.show.broadcastformat.slug }}"
                        title="{{ previoustimeslot.show.broadcastformat.format }}">&nbsp;</td>
                    <td class="show">
                        <h3>
                            <a href="{% url "timeslot-detail" previuos_timeslot.id %}">{{ previous_timeslot.show.name }}</a>
                        </h3>
                    </td>
                    <td class="show"></td>
                </tr>
                <tr class="current">
                    <td class="start">{{ current_timeslot.start|date:"H:i" }}</td>
                    <td class="format bf-{{ current_timeslot.show.broadcastformat.slug }}"
                        title="{{ current_timeslot.show.broadcastformat.format }}">&#x25B6;</td>
                    <td class="show">
                        <h3>
                            <a href="{% url "timeslot-detail" current_timeslot.id %}">{{ current_timeslot.show.name }}</a>
                        </h3>
                        {% if current_timeslot.note %}
                            <p>{{ current_timeslot.note.title }}</p>
                        {% else %}
                            <p>{{ current_timeslot.show.short_description }}</p>
                        {% endif %}
                    </td>
                </tr>
                <tr class="next">
                    <td class="start">{{ next_timeslot.start|date:"H:i" }}</td>
                    <td class="format bf-{{ next_timeslot.show.broadcastformat.slug }}"
                        title="{{ next_timeslot.show.broadcastformat.format }}">&nbsp;</td>
                    <td class="show">
                        <h3><a href="{% url "timeslot-detail" next_timeslot.id %}">{{ next_timeslot.show.name }}</a>
                        </h3>
                    </td>
                    <td class="show"></td>
                </tr>
                <tr class="after_next">
                    <td class="start">{{ after_next_timeslot.start|date:"H:i" }}</td>
                    <td class="format bf-{{ after_next_timeslot.show.broadcastformat.slug }}"
                        title="{{ after_next_timeslot.show.broadcastformat.format }}">&nbsp;</td>
                    <td class="show">
                        <h3>
                            <a href="{% url "timeslot-detail" after_next_timeslot.id %}">{{ after_next_timeslot.show.name }}</a>
                        </h3>
                    </td>
                    <td class="show"></td>
                </tr>
            </table>
        </dd>
    </dl>
{% endif %}
</body>
</html>
