{% if language_list %}
    <dl id="filterbox_language" class="portlet filterbox">
        <dt class="portletHeader"><span>Sprache<span></dt>
        <dd class="portletItem">
            <ul>
                {% for language in language_list %}
                    <li>
                        <a title="Sendungen auf {{ language.name }} anzeigen."
                           href="?language={{ language.slug }}">{{ language.name }}/{{ language.native_name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </dd>
    </dl>
{% endif %}
