<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Recomendations box</title>
</head>
<body>
{% if recommendation_list %}
    <dl id="recommendations" class="portlet program-box">
        <dt class="portletHeader">Programmhinweise</dt>
        <dd class="portletItem">
            <table>
                {% for recommendation in recommendation_list %}
                    <tr>
                        <td class="start">&nbsp;</td>
                        <td class="format bf-{{ recommendation.show.broadcastformat.slug }}"
                            title="{{ recommendation.show.broadcastformat.format }}">&nbsp;</td>
                        <td class="show">
                            {{ recommendation.start|date:"d.m. H:i" }} - {{ recommendation.end|date:"H:i" }}<br/>
                            <h3>
                                <a href="{% url "timeslot-detail" recommendation.id %}">{{ recommendation.show.name }}</a>
                            </h3>
                            <p class="note-title">
                                {% if recommendation.note %}
                                    {{ recommendation.note.title }}<br/>
                                {% else %}
                                    {{ recommendation.show.broadcastformat.format }}<br/>
                                {% endif %}
                                <a href="{% url "timeslot-detail" recommendation.id %}">[weiter]</a>
                            </p>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </dd>
    </dl>
{% endif %}
</body>
</html>
