<html>
<head>
  <title>Now Playing &mdash; Radio Helsinki - Freies Radio Graz</title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <script type="text/javascript" src="/nop/static/jquery-1.6.1/jquery.min.js"></script>
  <script type="text/javascript" src="/nop/static/jquerytools-1.2.5/jquery.tools.min.js"></script>
  <script type="text/javascript" src="/nop/static/anytimec.js"></script>
  <script type="text/javascript" src="/nop/static/nowplaying_form.js"></script>
  <link rel="stylesheet" type="text/css" href="/nop/static/dateinput.css"/>
  <link rel="stylesheet" type="text/css" href="/nop/static/anytimec.css"/>
</head>
<body>

  <div id="content-main" class="show-detail">
    <form action="/nop" method="get">
      {{ form.as_table }}
      <input type="submit" value="senden" />
    </form>

    {% if nowplaying %}
    <ul class="nowplaying">
      {% for track in nowplaying %}
      <li>
        {% if track.start or track.show %}
          <span class="meta">
            {% if track.start %}{{track.start}}{% endif %}
            {% if track.start and track.show %},{% endif %}
            {% if track.show %}Sendung {{track.show}}{% endif %}
            {% if track.artist or track.title or track.album %}:{% endif %}
          </span><br />
        {% endif %}
        {% if track.artist %}
          <span class="artist">{{track.artist}}</span>
        {% endif %}
        <span class="track">
        {% if track.artist and track.title or track.artist and track.album %}|{% endif %}
        {% if track.title %}{{track.title}}{% endif %}
        {% if track.title and track.album %}|{% endif %}
        {% if track.album %}{{track.album}}{% endif %}
        </span>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>

</body>
</html>
