<html>
<head>
  <title>Now Playing &mdash; Radio Helsinki - Freies Radio Graz</title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
  <script type="text/javascript" src="http://cdn.jquerytools.org/1.2.5/form/jquery.tools.min.js"></script>
  <script type="text/javascript" src="/nop/static/anytimec.js"></script>
  <link rel="stylesheet" type="text/css" href="/nop/static/dateinput.css"/>
  <link rel="stylesheet" type="text/css" href="/nop/static/anytimec.css"/>

  <script type="text/javascript"><!--
    $(document).ready(function() {
      $("#nop_date").dateinput({
        format: 'yyyy-mm-dd',
        firstDay: 1
        });
      $("#nop_time").AnyTime_picker({
        format: "%H:%i",
        labelTitle: "Zeit",
        labelHour: "Stunde",
        labelMinute: "Minute"
      });
    });
    --></script>

</head>
<body>

  <div id="content-main" class="show-detail">
    <form action="" method="post">{% csrf_token %}
      {{ form.as_table }}
      <input type="submit" value="senden" />
    </form>

    {% if nowplaying %}
    <ul>
      {% for track in nowplaying %}
      <li>
        {% if track.start or track.show %}
          <small>
            {% if track.start %}{{track.start}}{% endif %}
            {% if track.start and track.show %},{% endif %}
            {% if track.show %}Sendung {{track.show}}{% endif %}
            {% if track.artist or track.title or track.album %}:{% endif %}
          </small>
        {% endif %}
        {% if track.artist %}
          <strong>{{track.artist}}</strong>
        {% endif %}
        {% if track.artist and track.title or track.artist and track.album %}|{% endif %}
        {% if track.title %}{{track.title}}{% endif %}
        {% if track.title and track.album %}|{% endif %}
        {% if track.album %}{{track.album}}{% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>

</body>
</html>
