<html>
<head>
    <title>Day schedule: {{ day|date:"l, d.m.Y" }}</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://jquery-ui.googlecode.com/svn/trunk/ui/i18n/jquery.ui.datepicker-de.js"></script>
    <link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/base/jquery-ui.css" rel="stylesheet" />
</head>
<body>

<div id="calendar"></div>

{% load content_boxes %}
<div id="filter-format">
{% broadcastformat %}
</div>
<div id="filter-topic">
  <dl id="filter-header" class="portlet">
    <dt class="portletHeader"><span>Filter</span></dt>
  </dl>
{% musicfocus %}
{% showinformation %}
{% showtopic %}
</div>

<div id="content-main" class="day-schedule">
    <h2>Tagesansicht</h2>
    <h1 id="date">{{ day|date:"l, d.m.Y" }}</h1>

    <div id="timeslots">
    {% for timeslot in timeslots %}
    <div class="timeslot bf-{{ timeslot.show.broadcastformat.slug }}">
        <div class="show-start">{{ timeslot.start|date:"H:i" }}</div>
        <div class="show-abbrevs">
        {% for item in timeslot.show.showinformation.all %}
          <span title="{{item.information}}" class="abbrev si-{{ item.abbrev }}"><span>{{ item.abbrev }}</span></span>
        {% endfor %}
        {% for item in timeslot.show.showtopic.all %}
          <span title="{{item.topic}}" class="abbrev st-{{ item.abbrev }}"><span>{{ item.abbrev }}</span></span>
        {% endfor %}
        {% for item in timeslot.show.musicfocus.all %}
          <span title="{{item.focus}}" class="abbrev mf-{{ item.abbrev }}"><span>{{ item.abbrev }}</span></span>
        {% endfor %}
        </div>
        <div class="show-detail">
            <h3 class="show-title"><a href="{% url timeslot-detail timeslot.id %}">{{ timeslot.show.name }}</a></h3>
            {% if timeslot.note %}
            <p class="note-title"><strong>Heute:</strong> {{ timeslot.note.title }}</p>
            {% else %}
                {% if timeslot.show.short_description != 'FIXME' %}
            <p class="show-description">{{ timeslot.show.short_description }}</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% endfor %}
    </div>
</div>

<script>
    $(function() {
        $("#calendar").datepicker({
            defaultDate: location.href.split('/').slice(4, 7).reverse().join('.'),
            onSelect: function(dateText, inst) {
                location = '/program/' + dateText.split('.').reverse().join('/');
            }
        });
    })
</script>

</body>
</html>
