<html>
<head>
    <title>Day schedule: {{ day|date:"l, d.m.Y" }}</title>
    <link href="/site_media/styles/base.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="calendar"></div>

{% load content_boxes %}
<div id="filter-format">
{% broadcastformat %}
</div>
<div id="filter-topic">
  <dl id="filter-header" class="portlet">
    <dt class="portletHeader"><span>Filter<span></dt>
  </dl>
{% musicfocus %}
{% showinformation %}
{% showtopic %}
</div>

<div id="content-main" class="day-schedule">
    <h2>Tagesansicht</h2>
    <h1 id="date">{{ day|date:"l, d.m.Y" }}</h1>

    <div id="timeslots">
    {% for timeslot in timeslots %}
    <div class="timeslot bf-{{ timeslot.show.broadcastformat.slug }}">
        <div class="show-start">{{ timeslot.start|date:"H:i" }}</div>
        <div class="show-abbrevs">
        {% for showinformation in timeslot.show.showinformation.all %}
        <span class="abbrev si-{{ showinformation.abbrev }}"><span>{{ showinformation.abbrev }}</span></span>
        {% endfor %}
        {% for showtopic in timeslot.show.showtopic.all %}
            <span class="abbrev st-{{ showtopic.abbrev }}"><span>{{ showtopic.abbrev }}</span></span>
        {% endfor %}
        {% for musicfocus in timeslot.show.musicfocus.all %}
            <span class="abbrev mf-{{ musicfocus.abbrev }}"><span>{{ musicfocus.abbrev }}</span></span>
        {% endfor %}
        </div>
        <div class="show-detail">
            <h3 class="show-title"><a href="{% url timeslot-detail timeslot.id %}">{{ timeslot.show.name }}</a></h3>
            {% if timeslot.note %}
            <p class="note-title"><strong>Heute:</strong> {{ timeslot.note.title }}</p>
            {% else %}
                {% if timeslot.show.short_description != 'FIXME' %}
            <p class="show-description">{{ timeslot.show.short_description }}</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% endfor %}
    </div>
</div>


</body>
</html>
