<html>
<head>
    <title>Tipps &mdash; Radio Helsinki - Freies Radio Graz</title>
</head>
<body>

<div id="content-main" class="recommendations">
  <h1>Programmhinweise</h1>
  <div class="shows">
{% for item in recommendation_list %}
    <div class="show recommendation  bf-{{ item.show.broadcastformat.slug }}">
        <div class="show-abbrevs">
        {% for item in item.show.showinformation.all %}
          <span title="{{item.information}}" class="abbrev si-{{ item.abbrev }}"><span>{{ item.abbrev }}</span></span>
        {% endfor %}
        {% for item in show.showtopic.all %}
          <span title="{{item.topic}}" class="abbrev st-{{ item.abbrev }}"><span>{{ item.abbrev }}</span></span>
        {% endfor %}
        {% for item in show.musicfocus.all %}
          <span title="{{item.focus}}" class="abbrev mf-{{ item.abbrev }}"><span>{{ item.abbrev }}</span></span>
        {% endfor %}
        </div>
        <div class="show-detail">
          <h3 class="show-title"><a href="{% url show-detail item.show.slug %}">{{ item.show.name }}</a>: <a href="{%  url timeslot-detail item.timeslot.id %}">{{ item.title }}</a></h3>
          <h4 class="timeslot-start-end">{{ item.timeslot.start|date:"d.m. H:i" }}-{{ item.timeslot.end|date:"H:i" }}</h4>

          <p class="note-content">{{ item.content|safe}}</p>

        </div>
    </div>
{% endfor %}
</div>

</body>
</html>
