<html>
<head>
    <title>Tipps &mdash; Radio Helsinki - Freies Radio Graz</title>
</head>
<body>

<div id="content-main" class="recommendations">
  <h1>Programmhinweise</h1>
  <div id="shows">
{% for item in recommendation_list %}
    <div class="show recommendation  bf-{{ item.show.broadcastformat.slug }}">
        <div class="show-abbrevs">
        {% for ab in item.show.showinformation.all %}
          <span title="{{ab.information}}" class="abbrev si-{{ ab.abbrev }}"><span>{{ ab.abbrev }}</span></span>
        {% endfor %}
        {% for ab in item.show.showtopic.all %}
          <span title="{{ab.topic}}" class="abbrev st-{{ ab.abbrev }}"><span>{{ ab.abbrev }}</span></span>
        {% endfor %}
        {% for ab in item.show.musicfocus.all %}
          <span title="{{ab.focus}}" class="abbrev mf-{{ ab.abbrev }}"><span>{{ ab.abbrev }}</span></span>
        {% endfor %}
        </div>
        <div class="show-detail">
          <h4>
            <a href="{% url show-detail item.show.slug %}">{{ item.show.name }}</a><br />
            vom {{ item.timeslot.start|date:"d.m. H:i" }}-{{ item.timeslot.end|date:"H:i" }}
          </h4>
          <h3 class="show-title">
            <a href="{%  url timeslot-detail item.timeslot.id %}">{{ item.title }}</a>
          </h3>
          <div class="note-content">{{ item.content|safe}}</div>

        </div>
    </div>
{% endfor %}
  </div>
</div>

</body>
</html>
