<html>
<head>
    <title>Show list</title>
</head>
<body>

{% load content_boxes %}
<div id="filter-format">
{% broadcastformat %}
</div>
<div id="filter-topic">
  <dl id="filter-header" class="portlet">
    <dt class="portletHeader"><span>Filter<span></dt>
  </dl>
{% musicfocus %}
{% showinformation %}
{% showtopic %}
</div>

<div id="content-main" class="show-list">
  <h1>Sendungen</h1>

  <div id="shows">
    {% for show in show_list %}
    <div class="show bf-{{ show.broadcastformat.slug }}">
        <div class="show-abbrevs">
        {% for item in show.showinformation.all %}
          <span title="{{item.information}}" class="abbrev si-{{ item.abbrev }}"><span>{{ item.abbrev }}</span></span>
        {% endfor %}
        {% for item in show.showtopic.all %}
          <span title="{{item.topic}}" class="abbrev st-{{ item.abbrev }}"><span>{{ item.abbrev }}</span></span>
        {% endfor %}
        {% for item in show.musicfocus.all %}
          <span title="{{item.focus}}" class="abbrev mf-{{ item.abbrev }}"><span>{{ item.abbrev }}</span></span>
        {% endfor %}
        </div>
        <div class="show-detail">
            <h3 class="show-title"><a href="{% url show-detail show.slug %}">{{ show.name }}</a></h3>
            <div class="show-programslots">
            {% for slot in show.programslots.all %}
                <p class="show-programslot">{{ slot }}</p>
            {% endfor %}
            </div>
            {% if show.short_description != 'FIXME' %}
            <p class="show-description">{{ show.short_description }}</p>
            {% endif %}
        </div>
    </div>
  {% endfor %}
  </div>

</div>

</body>
</html>
