<html>
<head>
    <title>Timeslot detail: {{ timeslot }}</title>
    <link href="/site_media/styles/base.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="content-main" class="timeslot-detail">
    <h1 id="show-name">{{ timeslot.show.name }}</h1>

    {% if timeslot.show.short_description != 'FIXME' %}
    <div id="short-description" class="documentDescription">{{ timeslot.show.short_description }}</div>
    {% endif %}

    <div id="abbrevs">
    {% for topic in timeslot.show.showtopic.all %}
        <span class="topic-abbrev">{{ topic.abbrev }}</span>
    {% endfor %}

    {% for information in timeslot.show.showinformation.all %}
        <span class="information-abbrev">{{ information.abbrev }}</span>
    {% endfor %}

    {% for focus in timeslot.show.musicfocus.all %}
        <span class="focus-abbrev">{{ focus.abbrev }}</span>
    {% endfor %}

        <span class="broadcastformat-abbrev">{{ timeslot.show.broadcastformat.abbrev }}</span>
    </div>

    <div id="programslots">
    {% for slot in timeslot.show.programslots.all %}
        <div class="programslot">{{ slot }}</div>
    {% endfor %}
    </div>

    <div id="broadcastformat">{{ timeslot.show.broadcastformat.format }}</div>

    <div id="hosts">
    {% for host in timeslot.show.hosts.all %}
        <div class="host"><a href="{% url host-detail host.id %}">{{ host }}</a></div>
    {% endfor %}
    </div>

    <div id="description">{{ timeslot.show.description|safe }}</div>

    <div id="note">
    {% if timeslot.note %}
        <div class="note">
            <div class="title">{{ timeslot.note.title }}</div>
            <div class="content">{{ timeslot.note.content|safe }}</div>
        </div>
    {% endif %}
    </div>
</div>

</body>
</html>
