<html>
<head>
    <title>Timeslot detail: {{ timeslot }}</title>
</head>
<body>

<div id="calendar"></div>

<div id="timeslot-detail">
    <div id="name">{{ timeslot.show.name }}</div>

    <div id="abbrevs">
    {% for topic in timeslot.show.show_topic.all %}
        <span class="topic-abbrev">{{ topic.abbrev }}</span>
    {% endfor %}
    {% for information in timeslot.show.show_information.all %}
        <span class="information-abbrev">{{ information.abbrev }}</span>
    {% endfor %}
    {% for focus in timeslot.show.music_focus.all %}
        <span class="focus-abbrev">{{ focus.abbrev }}</span>
    {% endfor %}
        <span class="broadcast-format-abbrev">{{ timeslot.show.broadcast_format.abbrev }}</span>
    </div>

    <div id="program-slots">
    {% for slot in timeslot.show.program_slots.all %}
        <div class="program-slot">{{ slot }}</div>
    {% endfor %}
    </div>

    <div id="broadcast-format">{{ timeslot.show.broadcast_format.format }}</div>

    <div id="hosts">
    {% for host in timeslot.show.hosts.all %}
        <div class="host">{{ host }}</div>
    {% endfor %}
    </div>

    <div id="short-description">{{ timeslot.show.short_description }}</div>
    <div id="description">{{ timeslot.show.description }}</div>

    <div id="note">
    {% if timeslot.note %}
        <div class="note">
            <div class="title">{{ timeslot.note.title }}</div>
            <div class="content">{{ timeslot.note.content }}</div>
        </div>
    {% endif %}
    </div>
</div>

</body>
</html>