#recommendations-box,
#day-schedule,
#broadcastformats,
#filter,
#shows {
    display: inline;
    float: left;
}

#filter { width: 213px; }
#recommendations-box { width: 213px; }
#day-schedule { width: 700px; }
#shows {width: 700px;}
#broadcastformats { width: 170px; }
#current-timeslot,
#next-timeslot,
#after-next-timeslot {
    clear: both;
}

#current-timeslot .start,
#next-timeslot .start,
#after-next-timeslot .start {
    display: inline;
    float: left;
}

#current-timeslot .show,
#next-timeslot .show,
#after-next-timeslot .show {
    display: inline;
    float: left;
}

/* FIXME: fill the actual colors */
#current-timeslot .experimentell,
#next-timeslot .experimentell,
#after-next-timeslot .experimentell,
#recommendations-box .experimentell {
    border-left: red solid 3px;
}
#current-timeslot .feature-magazin,
#next-timeslot .feature-magazin,
#after-next-timeslot .feature-magazin,
#recommendations-box .feature-magazin {
    border-left: red solid 3px;
}
#current-timeslot .horspiel-literatur,
#next-timeslot .horspiel-literatur,
#after-next-timeslot .horspiel-literatur,
#recommendations-box .horspiel-literatur {
    border-left: red solid 3px;
}
#current-timeslot .musiksendung,
#next-timeslot .musiksendung,
#after-next-timeslot .musiksendung,
#recommendations-box .musiksendung {
    border-left: red solid 3px;
}
#current-timeslot .talk,
#next-timeslot .talk,
#after-next-timeslot .talk,
#recommendations-box .talk {
    border-left: red solid 3px;
}
#current-timeslot .unmoderiertes-musikprogramm,
#next-timeslot .unmoderiertes-musikprogramm,
#after-next-timeslot .unmoderiertes-musikprogramm,
#recommendations-box .unmoderiertes-musikprogramm {
    border-left: red solid 3px;
}
#current-timeslot .vortrag-diskussion,
#next-timeslot .vortrag-diskussion,
#after-next-timeslot .vortrag-diskussion,
#recommendations-box .vortrag-diskussion {
    border-left: red solid 3px;
}

#recommendations-box .recommendation {
    clear: both;
}

/* FIXME: fill the actual colors */
#day-schedule .experimentell {
    background-color: red;
}
#day-schedule .feature-magazin {
    background-color: red;
}
#day-schedule .horspiel-literatur {
    background-color: red;
}
#day-schedule .musiksendung {
    background-color: red;
}
#day-schedule .talk {
    background-color: red;
}
#day-schedule .unmoderiertes-musikprogramm {
    background-color: red;
}
#day-schedule .vortrag-diskussion {
    background-color: red;
}

#day-schedule .timeslot {
    clear: both;
}

.timeslot .start,
.timeslot .show-abbrevs,
.timeslot .show {
    display: inline;
    float: left;
}

.timeslot .show-abbrevs { width: 50px; }

#shows .show { clear: both; }

.show .abbrevs {
    width: 50px;
    display: inline;
    float: left;
}
.show .details {
    display: inline;
    float: left;
}

.details .name,
.details .programslots,
.details .short-description {
    display: inline;
    float: left;
}

#week-schedule { width: 960px; }
#week-schedule .weekday { font-size: small; height: 2em; }

#monday,
#tuesday,
#wednesday,
#thursday,
#friday,
#saturday,
#sunday {
    display: inline;
    float: left;
    font-size: small;
    width: 123px;
}
