<html>
<head>
    <title>Recomendations</title>
</head>
<body>

<div id="recommendations">
{% for note in recommendations %}
    <div class="show">
        <div class="broadcastformat">{{ note.show.broadcastformat }}</div>
        <div class="timeslot">{{ note.timeslot.start }}</div>
        <div class="show-name"><a href="{%  url show-detail note.show.slug %}">{{ note.show.name }}</a></div>
        <div class="show-short-description">{{ note.show.short_description }}</div>
        <div class="note-title">{{ note.title }}</div>
        <div class="note-content">{{ note.content }}</div>
    </div>
{% endfor %}
</div>

</body>
</html>