<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Recomendations box</title>
</head>
<body>
    <ul>
{% for recommendation in recommendation_list %}
        <li class="bf-{{ recommendation.show.broadcastformat.slug }}">
            <div class="time">{{ recommendation.start|date:"d.m. H:i" }} - {{ recommendation.end|date:"H:i" }}</td>
            <div class="show-name">
                <a href="{% url "timeslot-detail" recommendation.id %}">{{ recommendation.show.name }}</a>
            </div>
            <div class="show-content">
{%   if recommendation.note %}
                {{ recommendation.note.title }}
{%   else %}
                {{ recommendation.show.short_description }}
{%   endif %}
                <br/>
                <a href="{% url "timeslot-detail" recommendation.id %}">[weiter]</a>
            </div>
        </li>
{% endfor %}
    </ul>
</body>
</html>
