<html>
<head>
    <title>Tipps &mdash; Radio Helsinki - Freies Radio Graz</title>
</head>
<body>

<div id="content-main" class="recommendation-list">
    <h1>Programmhinweise</h1>

    <div id="shows">
{% for recommendation in recommendation_list %}
        <div class="show recommendation  bf-{{ recommendation.show.broadcastformat.slug }}">
            <div class="show-categories">
{%   for si in recommendation.show.showinformation.all %}
                <span title="{{ si.information }}" class="category category-si si-{{ si.abbrev }}"><span>{{ si.abbrev }}</span></span>
{%   endfor %}
{%   for st in recommendation.show.showtopic.all %}
                <span title="{{ st.topic }}" class="category category-st st-{{ st.abbrev }}"><span>{{ st.abbrev }}</span></span>
{%   endfor %}
{%   for mf in recommendation.show.musicfocus.all %}
                <span title="{{ mf.focus }}" class="category category-mf mf-{{ mf.abbrev }}"><span>{{ mf.abbrev }}</span></span>
{%   endfor %}
{%   for lang in recommendation.show.language.all %}
                <span title="{{ lang.name }}/{{ lang.native_name }}" class="category category-lang lang-{{ lang.slug }}"><span>{{ lang.slug }}</span></span>
{%   endfor %}
            </div>
            <div class="show-detail">
                <h4>
                    <a href="/program/shows/{{ recommendation.show.slug }}">{{ recommendation.show.name }}</a><br/>
                    vom {{ recommendation.start|date:"d.m. H:i" }}-{{ recommendation.end|date:"H:i" }}
                </h4>
                <h3 class="show-title">
{%   if recommendation.note %}
                   <a href="/program/{{ recommendation.id }}">{{ recommendation.note.title }}</a>
{%   else %}
                   <a href="/program/{{ recommendation.id }}">{{ recommendation.show.broadcastformat.format }}</a>
{%   endif %}
                </h3>
            </div>
{%   if recommendation.show.image or (recommendation.note and recommendation.note.imnage) %}
            <div class="images">
{%       if recommendation.show.image %}
                <img class="show-image" src="https://images.helsinki.at/program/{{ recommendation.show.image }}">
{%       endif %}
{%       if recommendation.note and recommendation.note.imnage %}
                <img class="note-image" src="https://images.helsinki.at/program/{{ recommendation.note.image }}"></div>
{%       endif %}
{%   endif %}
        </div>
{% endfor %}
    </div>
</div>

</body>
</html>
