<html>
<head>
    <title>Sendungen &mdash; Radio Helsinki - Freies Radio Graz</title>
</head>
<body>

<div id="content-main" class="show-list">
    <h1>Sendungen A-Z</h1>

    <div id="shows">
{% for show in show_list %}
        <div class="show bf-{{ show.broadcastformat.slug }}">
            <div class="show-categories">
{% for si in show.showinformation.all %}
                <span title="{{ si.information }}" class="category categor-si si-{{ si.abbrev }}"><span>{{ si.abbrev }}</span></span>
{% endfor %}
{% for st in show.showtopic.all %}
                <span title="{{ st.topic }}" class="category categor-st st-{{ st.abbrev }}"><span>{{ st.abbrev }}</span></span>
{% endfor %}
{% for mf in show.musicfocus.all %}
                <span title="{{ mf.focus }}" class="category categor-mf mf-{{ mf.abbrev }}"><span>{{ mf.abbrev }}</span></span>
{% endfor %}
{% for lang in show.language.all %}
                <span title="{{ lang.name }}/{{ lang.native_name }}" class="category category-lang lang-{{ lang.slug }}"><span>{{ lang.slug }}</span></span>
{% endfor %}
            </div>
            <div class="show-detail">
                <h3 class="show-title"><a href="/program/shows/{{ show.slug }}">{{ show.name }}</a></h3>
                <ul class="show-programslots">
{% for programslot in show.active_program_slots %}
                    <li class="show-programslot">{{ programslot }}</li>
{% endfor %}
                </ul>
                <p class="show-description">{{ show.short_description }}</p>
            </div>
        </div>
{% endfor %}
    </div>
</div>

</body>
</html>
