<html>
<head>
    <title>Sendungen &mdash; Radio Helsinki - Freies Radio Graz</title>
</head>
<body>

{% load filters %}
<div id="filter-format">
    {% broadcastformatV2 %}
</div>
<div id="filter-topic">
    <dl id="filter-header" class="portlet">
        <dt class="portletHeader"><span>Filter</span></dt>
    </dl>
    {% musicfocusV2 %}
    {% showinformationV2 %}
    {% showtopicV2 %}
    {% languageV2 %}
</div>

<div id="content-main" class="show-list">
    <h1>Sendungen A-Z</h1>

    <div id="shows">
        {% for show in show_list %}
            <div class="show bf-{{ show.broadcastformat.slug }}">
                <div class="show-abbrevs">
                    {% for si in show.showinformation.all %}
                        <span title="{{ si.information }}"
                              class="abbrev si-{{ si.abbrev }}"><span>{{ si.abbrev }}</span></span>
                    {% endfor %}
                    {% for st in show.showtopic.all %}
                        <span title="{{ st.topic }}"
                              class="abbrev st-{{ st.abbrev }}"><span>{{ st.abbrev }}</span></span>
                    {% endfor %}
                    {% for mf in show.musicfocus.all %}
                        <span title="{{ mf.focus }}"
                              class="abbrev mf-{{ mf.abbrev }}"><span>{{ mf.abbrev }}</span></span>
                    {% endfor %}
                </div>
                <div class="show-detail">
                    <h3 class="show-title"><a href="{% url "show-detail-v2" show.slug %}">{{ show.name }}</a></h3>
                    <ul class="show-programslots">
                        {% for programslot in show.active_program_slots %}
                            <li class="show-programslot">{{ programslot }}</li>
                        {% endfor %}
                    </ul>
                    <p class="show-description">{{ show.short_description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

</div>

</body>
</html>
