<html>
<head>
    <title>Sendung: {{ timeslot.show.name }} &mdash; Radio Helsinki - Freies Radio Graz</title>
</head>
<body>

<div id="content-main" class="timeslot-detail">
    <h1><a href="/program/shows/{{ timeslot.show.slug }}">{{ timeslot.show.name }}</a></h1>

    <div class="show-detail-header bf-{{ timeslot.show.broadcastformat.slug }}">
{% if timeslot.note %}
        <h2>{{ timeslot.note.title }}</h2>
{% endif %}
        <strong>Sendung am {{ timeslot.start|date:"d.m.Y H:i" }} bis {{ timeslot.end|date:"H:i" }}</strong>

        <div class="show-categories">
{% for si in timeslot.show.showinformation.all %}
            <span title="{{ si.information }}" class="category category-si si-{{ si.abbrev }}"><span>{{ si.abbrev }}</span></span>
{% endfor %}
{% for st in timeslot.show.showtopic.all %}
            <span title="{{ st.topic }}" class="category category-st st-{{ st.abbrev }}"><span>{{ st.abbrev }}</span></span>
{% endfor %}
{% for mf in timeslot.show.musicfocus.all %}
            <span title="{{ mf.focus }}" class="category category-mf mf-{{ mf.abbrev }}"><span>{{ mf.abbrev }}</span></span>
{% endfor %}
{% for lang in timeslot.show.language.all %}
            <span title="{{ lang.name  }}/{{ lang.native_name }}" class="category category-lang lang-{{ lang.slug }}"><span>{{ lang.slug }}</span></span>
{% endfor %}
        </div>

        <div id="broadcastformat">{{ timeslot.show.broadcastformat.format }}</div>

{% if timeslot.note %}
        <div class="timeslot-note">{{ timeslot.note.content|safe }}</div>
{% endif %}
    </div>

    <h2 class="lead">Information zur Sendereihe</h2>
    <div class="timslot-description">
        <div id="short-description" class="documentDescription">{{ timeslot.show.short_description }}</div>

{% if timeslot.show.description %}
        <div id="description">{{ timeslot.show.description|safe }}</div>
{% endif %}

        <p>
{% for host in timeslot.show.hosts.all %}
            <a href="/program/hosts/{{ host.id }}">{{ host }}</a><br/>
{% endfor %}
{% if timeslot.show.email %}
            <strong>Email:</strong> <a href="mailto:{{ timeslot.show.email }}">{{ timeslot.show.email }}</a><br/>
{% endif %}
{% if timeslot.show.website %}
            <strong>Website:</strong> <a href="{{ timeslot.show.website }}">{{ timeslot.show.website }}</a><br/>
{% endif %}
        </p>
    </div>
</div>

</body>
</html>
