<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Current program box</title>
</head>
<body>

  {% if previous or current or next or after_next %}
  <dl class="portlet program-box">
    <dt class="portletHeader">Programm derzeit</dt>
    <dd class="portletItem">
      <table>
        <tr class="previous">
          <td class="start">{{ previous.start|date:"H:i" }}</td>
          <td class="format bf-{{ previous.show.broadcastformat.slug }}">&nbsp;</td>
          <td class="show">
            <h3><a href="{% url timeslot-detail previous.id %}">{{ previous.show.name }}</a></h3>
          </td>
          <td class="show"></td>
        </tr>
        <tr class="current">
          <td class="start">{{ current.start|date:"H:i" }}</td>
          <td class="format bf-{{ current.show.broadcastformat.slug }}">&#x25B6;</td>
          <td class="show">
            <h3><a href="{% url timeslot-detail current.id %}">{{ current.show.name }}</a></h3>
            {% if current.note %}
            <p>{{ current.note.title }}</p>
            {% else %}
              {% if current.show.short_description != 'FIXME' %}
            <p>{{ current.show.short_description }}</p>
              {% endif %}
            {% endif %}
          </td>
        </tr>
        <tr class="next">
          <td class="start">{{ next.start|date:"H:i" }}</td>
          <td class="format bf-{{ next.show.broadcastformat.slug }}">&nbsp;</td>
          <td class="show">
            <h3><a href="{% url timeslot-detail next.id %}">{{ next.show.name }}</a></h3>
          </td>
          <td class="show"></td>
        </tr>
        <tr class="after_next">
          <td class="start">{{ after_next.start|date:"H:i" }}</td>
          <td class="format bf-{{ after_next.show.broadcastformat.slug }}">&nbsp;</td>
          <td class="show">
            <h3><a href="{% url timeslot-detail after_next.id %}">{{ after_next.show.name }}</a></h3>
          </td>
          <td class="show"></td>
        </tr>
        </table>
    </dd>
  </dl> 
  {% endif %}

</body>
</html>
