<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Recomendations box</title>
</head>
<body>
  {% if recommendation_list %}
  <dl id="recommendations" class="portlet recommendations-box">
    <dt class="portletHeader">Programmhinweise</dt>
    <dd class="portletItem">
      <table>
      {% for item in recommendation_list %}
        <tr>
          <td class="start">&nbsp;</td>
          <td class="format bf-{{ item.show.broadcastformat.slug }}"
              title="{{ item.show.broadcastformat.format }}">&nbsp;</td>
          <td class="show">
            {{ item.timeslot.start|date:"d.m. H:i" }} -
            {{ item.timeslot.end|date:"H:i" }}<br />

            <h3><a href="{% url show-detail item.show.slug %}">{{ item.show.name }}</a></h3>
            <p class="note-title">
              {{ item.title }}<br />
              <a href="{% url timeslot-detail item.timeslot.id %}">[weiter]</a>
            </p>
          </td>
        </tr>
      {% endfor %}
      </table>
    </dd>
  </dl>
  {% endif %}
</body>
</html>
