<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Recomendations box</title>
</head>
<body>
  {% if recommendation_list %}
  <dl id="recommendations" class="portlet program-box">
    <dt class="portletHeader">Programmhinweise</dt>
    <dd class="portletItem">
      <table>
      {% for item in recommendation_list %}
        <tr>
          <td class="start">&nbsp;</td>
          <td class="format bf-{{ item.show.broadcastformat.slug }}"
              title="{{ item.show.broadcastformat.format }}">&nbsp;</td>
          <td class="show">
            {{ item.start|date:"d.m. H:i" }} -
            {{ item.end|date:"H:i" }}<br />
              <h3>
                <a href="{% url timeslot-detail item.id %}">{{ item.show.name }}</a>
              </h3>
              <p class="note-title">
              {% if item.note %}
                {{ item.note.title }}<br />
              {% else %}
                {{ item.show.broadcastformat.format }}<br />
              {% endif %}
                <a href="{% url timeslot-detail item.id %}">[weiter]</a>
              </p>
          </td>
        </tr>
      {% endfor %}
      </table>
    </dd>
  </dl>
  {% endif %}
</body>
</html>
