<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Recomendations box</title>
</head>
<body>
  {% if recommendation_list %}
  <dl id="recommendations" class="portlet program-recommendations">
    <dt class="portletHeader">Programmhinweise</dt>
    {% for recommendation in recommendation_list %}
    <dd class="portletItem program-recommendation {{ recommendation.show.broadcastformat.slug }}">
        <h3 class="show-name"><a href="{%  url show-detail recommendation.show.slug %}">{{ recommendation.show.name }}</a></h3>
        <p class="timeslot-start-end">{{ recommendation.timeslot.start|date:"d.m. H:i" }}-{{ recommendation.timeslot.end|date:"H:i" }}</p>
        <p class="note-title"><a href="{%  url timeslot-detail recommendation.timeslot.id %}">{{ recommendation.title }}</a></p>
    </dd>
    {% endfor %}
  </dl>
  {% endif %}
</body>
</html>
