<html>
<head>
  <title>Now Playing &mdash; Radio Helsinki - Freies Radio Graz</title>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
  <script type="text/javascript" src="http://cdn.jquerytools.org/1.2.5/form/jquery.tools.min.js"></script>
  <link rel="stylesheet" type="text/css" href="http://static.flowplayer.org/tools/demos/dateinput/css/skin1.css"/>

  <script type="text/javascript" src="http://www.ama3.com/anytime/AnyTime/anytimec.js"></script>
  <link rel="stylesheet" type="text/css" href="http://www.ama3.com/anytime/AnyTime/anytimec.css"/>

  <script type="text/javascript"><!--
    $(document).ready(function() {
      $("#nop_date").dateinput({
        format: 'yyyy-mm-dd',
        firstDay: 1
        });
      $("#nop_time").AnyTime_picker({
        format: "%H:%i",
        labelTitle: "Zeit",
        labelHour: "Stunde",
        labelMinute: "Minute"
      });
    });
    --></script>

</head>
<body>

  <div id="content-main" class="show-detail">
    <form action="" method="post">{% csrf_token %}
      {{ form.as_table }}
      <input type="submit" value="senden" />
    </form>

    {% if nowplaying %}
    <ul>
      {% for track in nowplaying %}
      <li>
        <small>{{track.datetime}}:</small>
        <strong>{{track.artist}}</strong> -
        {{track.title}} -
        {{track.album}}
        in der Sendung <em>{{track.showtitle}}</em>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>

</body>
</html>
