<html>
<head>
    <title>Wochenansicht &mdash; Radio Helsinki - Freies Radio Graz</title>
</head>

<body>

<div id="content-main" class="week-schedule">
    <table class="week-navigation">
        <tr>
            <td><a href="/program/{{ last_w }}">&lt;--</a></td>
            <td class="current">{{ cur_w }}</td>
            <td><a href="/program/{{ next_w1 }}">{{ next_w1 }}</a></td>
            <td><a href="/program/{{ next_w2 }}">{{ next_w2 }}</a></td>
            <td><a href="/program/{{ next_w3 }}">{{ next_w3 }}</a></td>
            <td><a href="/program/{{ next_w4 }}">{{ next_w4 }}</a></td>
            <td><a href="/program/{{ next_w1 }}">--&gt;</a></td>
        </tr>
    </table>
    <div class="weekday-starts weekday-starts-left">
        <div style="height: 43px;">&nbsp;</div>
        <div style="height: 60px;">06:00</div>
        <div style="height: 60px;">07:00</div>
        <div style="height: 60px;">08:00</div>
        <div style="height: 60px;">09:00</div>
        <div style="height: 60px;">10:00</div>
        <div style="height: 60px;">11:00</div>
        <div style="height: 60px;">12:00</div>
        <div style="height: 60px;">13:00</div>
        <div style="height: 60px;">14:00</div>
        <div style="height: 60px;">15:00</div>
        <div style="height: 60px;">16:00</div>
        <div style="height: 60px;">17:00</div>
        <div style="height: 60px;">18:00</div>
        <div style="height: 60px;">19:00</div>
        <div style="height: 60px;">20:00</div>
        <div style="height: 60px;">21:00</div>
        <div style="height: 60px;">22:00</div>
        <div style="height: 60px;">23:00</div>
        <div style="height: 60px;">00:00</div>
        <div style="height: 60px;">01:00</div>
        <div style="height: 60px;">02:00</div>
        <div style="height: 60px;">03:00</div>
        <div style="height: 60px;">04:00</div>
        <div style="height: 60px;">05:00</div>
    </div>
    <div id="monday" class="weekday weekday-first">
        <h2>{{ monday|date:"l d.m.Y" }}</h2>
        {% for timeslot in monday_timeslots %}
            {% include "week_schedule_timeslot.html" %}
        {% endfor %}
    </div>

    <div id="tuesday" class="weekday">
        <h2>{{ tuesday|date:"l d.m.Y" }}</h2>
        {% for timeslot in tuesday_timeslots %}
            {% include "week_schedule_timeslot.html" %}
        {% endfor %}
    </div>

    <div id="wednesday" class="weekday">
        <h2>{{ wednesday|date:"l d.m.Y" }}</h2>
        {% for timeslot in wednesday_timeslots %}
            {% include "week_schedule_timeslot.html" %}
        {% endfor %}
    </div>

    <div id="thursday" class="weekday">
        <h2>{{ thursday|date:"l d.m.Y" }}</h2>
        {% for timeslot in thursday_timeslots %}
            {% include "week_schedule_timeslot.html" %}
        {% endfor %}
    </div>

    <div id="friday" class="weekday">
        <h2>{{ friday|date:"l d.m.Y" }}</h2>
        {% for timeslot in friday_timeslots %}
            {% include "week_schedule_timeslot.html" %}
        {% endfor %}
    </div>

    <div id="saturday" class="weekday">
        <h2>{{ saturday|date:"l d.m.Y" }}</h2>
        {% for timeslot in saturday_timeslots %}
            {% include "week_schedule_timeslot.html" %}
        {% endfor %}
    </div>

    <div id="sunday" class="weekday weekday-last">
        <h2>{{ sunday|date:"l d.m.Y" }}</h2>
        {% for timeslot in sunday_timeslots %}
            {% include "week_schedule_timeslot.html" %}
        {% endfor %}
    </div>

    <div class="weekday-starts weekday-starts-right">
        <div style="height: 43px;">&nbsp;</div>
        <div style="height: 60px;">06:00</div>
        <div style="height: 60px;">07:00</div>
        <div style="height: 60px;">08:00</div>
        <div style="height: 60px;">09:00</div>
        <div style="height: 60px;">10:00</div>
        <div style="height: 60px;">11:00</div>
        <div style="height: 60px;">12:00</div>
        <div style="height: 60px;">13:00</div>
        <div style="height: 60px;">14:00</div>
        <div style="height: 60px;">15:00</div>
        <div style="height: 60px;">16:00</div>
        <div style="height: 60px;">17:00</div>
        <div style="height: 60px;">18:00</div>
        <div style="height: 60px;">19:00</div>
        <div style="height: 60px;">20:00</div>
        <div style="height: 60px;">21:00</div>
        <div style="height: 60px;">22:00</div>
        <div style="height: 60px;">23:00</div>
        <div style="height: 60px;">00:00</div>
        <div style="height: 60px;">01:00</div>
        <div style="height: 60px;">02:00</div>
        <div style="height: 60px;">03:00</div>
        <div style="height: 60px;">04:00</div>
        <div style="height: 60px;">05:00</div>
    </div>

</div>

</body>
</html>
